.bottomNav{
    text-align: right;
    a{ 
        color: #555;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        padding: 15px;
    }
}