<div class="container">
    <app-nav></app-nav>
    <h1 class="heading">P125 输出音质提升研究</h1>
    <hr>
    <div class="row">
        <div class="col-12">
            <h2>P125 输出</h2>
            <p>用了几周，开始感觉电琴的speaker音质不足，需要将电琴内置钢琴采样输出到外置播放器，提高演奏音质</p>
            <ul>
                <li>USB HOST</li>
                <li>1/4 inch (6.3mm) </li>
            </ul>
        </div>
        <hr>
    </div>
    
    <div class="row">
        <div class="col-12">
            <h2>使用电脑扬声器</h2>
            <p>Macbook 连接使用 Mac 显示器内置扬声器，音效还可以。</p>
            <h3>思路 1</h3>
            <ul>
                <li>使用 USB host 把电琴作为 MIDI keyboard 使用</li>
                <li>电脑接收到 MIDI 信号后使用软音源或 AWD 内置音源播放</li>
                <li>没有使用 YAMAHA 内置音源</li>
            </ul>
            <h3>思路 2</h3>
            <ul>
                <li>通过电琴的 1/4 inch 转换为 USB 依旧使用显示器扬声器</li>
                <li><a target="_blank" href="https://www.amazon.com.au/KOOPAO-Instrument-Recording-Cellphone-Interface/dp/B08N5X9V5S/ref=sr_1_4?dchild=1&keywords=1%2F4+inch+to+usb&qid=1628386908&sr=8-4">1/4 to usb c</a></li>
                <li><a href="  https://www.amazon.com.au/UGREEN-Splitter-Compatible-Computer-Multimedia/dp/B00ZKM3SHK/ref=sr_1_9?dchild=1&keywords=1%2F4+to+3.5&qid=1628388982&sr=8-9" target="_blank">Double 1/4 to 3.5</a></li>
                <li><a href="https://www.amazon.com.au/External-Converter-Adapter-Headset-Desktops/dp/B06XP5R449/ref=sr_1_39?dchild=1&keywords=1%2F4+stereo+to+usb&qid=1628388057&sr=8-39" target="_blank">3.5mm to usb</a></li>
                <li>使用 YAMAHA 内置音源</li>
            </ul>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>使用电视扬声器 + 家庭影院</h2>
            <p>经验证很难实现</p>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>使用外置监听音箱</h2>
            <p>购买新的监听音箱需要更多功课</p>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>耳机转接头</h3>
            <ul>
                <li><a href="https://www.amazon.com.au/UGREEN-6-35mm-Female-Stereo-Adapter/dp/B00EL9V5XW/ref=sr_1_8?crid=3MFSNJJTY2TYP&dchild=1&keywords=1%2F4in+mono+to+1%2F4in+stereo+stereo+adapter+headphone+jack&qid=1628383250&s=electronics&sprefix=1%2F4in+%2Celectronics%2C344&sr=1-8" target="_blnak">https://www.amazon.com.au/UGREEN-6-35mm-Female-Stereo-Adapter/dp/B00EL9V5XW/ref=sr_1_8?crid=3MFSNJJTY2TYP&dchild=1&keywords=1%2F4in+mono+to+1%2F4in+stereo+stereo+adapter+headphone+jack&qid=1628383250&s=electronics&</a></li>
            </ul>
            
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>阅读文章</h2>
            <ul>
                <li><a target="_blank" href="https://www.quora.com/How-do-I-route-Yamaha-p125-audio-to-computer-so-I-hear-it-through-my-headphones-Is-this-possible-with-USB-to-host-or-do-I-need-a-MIDI-interface">https://www.quora.com/How-do-I-route-Yamaha-p125-audio-to-computer-so-I-hear-it-through-my-headphones-Is-this-possible-with-USB-to-host-or-do-I-need-a-MIDI-interface</a></li>
            </ul>
        </div>
        <hr>
    </div>

    

</div>
