<div class="container">
    <app-nav></app-nav>
    <h1 class="heading">中级技巧</h1>
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>跨指</h3>
            <checkbox-link>
                <a target="_blank" href="https://app.flowkey.com/player/2XrpLR6JdbrG44ruv?title=%E7%BB%83%E4%B9%A0%EF%BC%9A%E6%8B%87%E6%8C%87%E5%9C%A8%E4%B8%8B%E6%8A%80%E5%B7%A7%20%E2%80%94%20%E5%8F%B3%E6%89%8B&artist=flowkey&courseCategorySlug=course-category-NYXzF6mXjRfAwnEeB&courseId=TXZeXbjD5bvnqJHFa&slideId=Jfypucn5Ybzc9AMzq&part=0">右手 拇指在下向右</a>
            </checkbox-link>
            <checkbox-link>
                <a target="_blank" href="https://app.flowkey.com/player/9swbXBS6PwAfq36Td?title=%E7%BB%83%E4%B9%A0%EF%BC%9A%E8%B7%A8%E6%8C%87%E6%8A%80%E5%B7%A7%20%E2%80%94%20%E5%8F%B3%E6%89%8B&artist=flowkey&courseCategorySlug=course-category-NYXzF6mXjRfAwnEeB&courseId=TXZeXbjD5bvnqJHFa&slideId=imqoZuStR7B2n97E9&part=0">右手 向左</a>
            </checkbox-link>

            <checkbox-link>
                <a target="_blank" href=" https://app.flowkey.com/player/pi3EtcfTKQYR7PPMR?title=%E7%BB%83%E4%B9%A0%EF%BC%9A%E6%8B%87%E6%8C%87%E5%9C%A8%E4%B8%8B%E6%8A%80%E5%B7%A7%20%E2%80%94%20%E5%B7%A6%E6%89%8B&artist=flowkey&courseCategorySlug=course-category-NYXzF6mXjRfAwnEeB&courseId=TXZeXbjD5bvnqJHFa&slideId=rpqNz7fmY4dpzrHKM&part=0">左手手 拇指在下向左</a>
            </checkbox-link>
            <checkbox-link>
                <a target="_blank" href="https://app.flowkey.com/player/exHmHsSq29o6ctfSS?title=%E7%BB%83%E4%B9%A0%EF%BC%9A%E8%B7%A8%E6%8C%87%E6%8A%80%E5%B7%A7%20%E2%80%94%20%E5%B7%A6%E6%89%8B&artist=flowkey&courseCategorySlug=course-category-NYXzF6mXjRfAwnEeB&courseId=TXZeXbjD5bvnqJHFa&slideId=yQLNQBXEWHykmYzME&part=0">左手手 向右</a>
            </checkbox-link>
            <p>双手交替，反复循环</p>
        </div>
        <div class="col-8">
            <!--<img src="assets/as0001.png" class="img-fluid">-->
            
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>升音（♯）</h3>
        </div>
        <div class="col-8">
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>降音（♭）</h3>
        </div>
        <div class="col-8">
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>练习曲</h3>
            <checkbox-link>
                <a target="_blank" href="https://app.flowkey.com/courses/course-category-NYXzF6mXjRfAwnEeB/JRXPmCCv6YN8dTbHY/xtjn8pSxufJfFnHbb">布雷舞曲</a>
            </checkbox-link>
            <checkbox-link>
                <a target="_blank" href="https://app.flowkey.com/courses/course-category-NYXzF6mXjRfAwnEeB/g5K6tWiJuT8BK7T4D/Hkrh86MvAD3nwGiD7">For He's a Jolly Good Fellow</a>
            </checkbox-link>
        </div>
        <div class="col-8">
        </div>
        <hr>
    </div>
</div>
