<div class="container">
    <app-nav></app-nav>
    <h1 class="heading">Time line</h1>
    <hr>
    <div class="row">
        <div class="col-3 week">week03 2021.07.31</div>
        <div class="col-9">
            <ul>
                <li>完成 Flowkey 全部初级课程：钢琴简介，读谱训练，双手弹奏。</li>
                <li>week 04 计划</li>
                <ul>
                    <li>学习中级技巧</li>
                    <li>强化读谱训练</li>
                </ul>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3 week">week01 2021.07.09</div>
        <div class="col-9">
            买琴
        </div>
    </div>
    <hr>
</div>