<div class="container">
    <app-nav></app-nav>
    <h1 class="heading">Time line</h1>
    <hr>
    <div class="row">
        <div class="col-3 week">week04</div>
        <div class="col-9">
            <ul>
                <li><a routerLink="/week04a" routerLinkActive="active">学习中级技巧</a></li>
                <li><a target="_blank" href="https://app.flowkey.com/player/eAbaMeTGkLE7coChG?title=Spirited%20Away%20%E2%80%93%20One%20Summer%27s%20Day&artist=Joe%20Hisaishi">练习千与千寻</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3 week">week2 - 3</div>
        <div class="col-9">
            <p>完成 Flowkey 全部初级课程：钢琴简介，读谱训练，双手弹奏。</p>
            <ul>
                <li><a routerLink="/week02a" routerLinkActive="active">读谱训练</a></li>
                <li><a>双手弹奏</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3 week">week01</div>
        <div class="col-9">
            <P>买琴</P>
            <ul>
                <li><a>钢琴简介</a></li>
            </ul>
        </div>
    </div>
    <hr>
</div>