<div class="container">
    <app-nav></app-nav>
    <h1 class="heading">钢琴简介</h1>
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>第一步</h3>
            <ul>
                <li>坐姿</li>
                <li>手部位置</li>
                <li>黑键和白键</li>
                <li>中央 C</li>
            </ul>
            <!--  
      <checkbox-link>
                <a target="_blank" href="">读谱练习 1</a>
            </checkbox-link>
            -->
      
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>右手简单乐曲</h3>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>乐谱入门</h3>
            <ul>
                <li>高音谱号</li>
                <li>中央 C</li>
                <li>计算音符</li>
            </ul>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>左手演奏</h3>
            <ul>
                <li>左手 C 位</li>
            </ul>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>低音谱号</h3>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>音符时值和节奏</h3>
            <p>每个音符按下去停留的时间</p>
            <ul>
                <li>四分音符</li>
                <li>二分音符</li>
                <li>全音符</li>
            </ul>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>节奏练习</h3>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>右手新音符</h3>
        </div>    
    </div>
    <hr>
</div>
