<div class="container">
    <app-nav></app-nav>
    <h1 class="heading">读谱练习</h1>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>右手 C4 - G4</h3>
            <ul>
                <li><a target="_blank" href="https://app.flowkey.com/player/jxtxfY29ZfnM6urwe?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20C%20%E5%88%B0%20G&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=yXyeXt5XCuwCStGav&slideId=ZSZJctBk9Jg3bu7jB&part=0">读谱练习 1</a>
                </li>
                <li><a target="_blank" href="https://app.flowkey.com/player/2H8LJNCsRB5shmxae?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%8F%B3%E6%89%8B%20I&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=GfMTwST37L3XNcyoR&slideId=AP74HQbMQqQu7RLeF&part=0">读谱练习 2</a>
                </li>
                <li><a target="_blank" href="https://app.flowkey.com/player/493hBwhmWMPnuT4fQ?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%8F%B3%E6%89%8B%20II&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=GfMTwST37L3XNcyoR&slideId=ShCk579h5yzX3nE9D&part=0">读谱练习 3</a>
                </li>
                <li><a target="_blank" href="https://app.flowkey.com/player/GiMcp7BKZBwXhng2D?title=%E6%AC%A2%E4%B9%90%E9%A2%82&artist=Ludwig%20van%20Beethoven&courseCategorySlug=reading-notes&courseId=yXyeXt5XCuwCStGav&slideId=ypGdCsmsvEc5sGbny&part=3">欢乐颂</a>
                </li>
            </ul>

            <hr>

            <h3>左手 C4 - F3</h3>
            <ul>
                <li>
                    <a href="https://app.flowkey.com/player/Q699moPpPBtnFjwoX?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20C%20%E5%88%B0%20F&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=AgGfJC8DxPjXqaruP&slideId=9CoiqiQ74jXwe56RE&part=0" target="_blank">读谱练习 1</a>
                </li>
                <li>
                    <a href="https://app.flowkey.com/player/4Ng5qff39fnyTLHjf?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%B7%A6%E6%89%8B%20I&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=GfMTwST37L3XNcyoR&slideId=mpSqk8emgFHDTSopk&part=0" target="_blank">读谱练习 2</a>
                </li>
                <li>
                    <a href="https://app.flowkey.com/player/bhD5qB4wPNZ3H8KA2?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%B7%A6%E6%89%8B%20II&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=GfMTwST37L3XNcyoR&slideId=Mwh4w4sdFL4eJ3bcW&part=0" target="_blank">读谱练习 3</a>
                </li>
                <li>
                    <a href="https://app.flowkey.com/player/PNvpDmxDNmJexyqRz?title=Mary%20Had%20a%20Little%20Lamb&artist=Course%20Content&courseCategorySlug=reading-notes&courseId=AgGfJC8DxPjXqaruP&slideId=FKrXn4Li2nyknivpY&part=2" target="_blank">玛丽有只小羊羔</a>
                </li>
            </ul>

            <hr>

            <h3>左手 C3 + DEFG</h3>
            <ul>
                <li>
                    <a href="https://app.flowkey.com/player/BBZyWrW5BGrZprN6r?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%B7%A6%E6%89%8B%20I&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=Dqo6ESmK6C9PeZPY9&slideId=C4PmDGHwxCwK2eAwK&part=0" target="_blank">读谱练习 1</a>
                </li>
                <li>
                    <a href="https://app.flowkey.com/player/xHbGLXtAdsMgKQbnz?title=%E5%B7%A6%E6%89%8B%20%E2%80%94%20%E7%BB%83%E4%B9%A0%20II&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=Dqo6ESmK6C9PeZPY9&slideId=jSe54LXqZJAMycctk&part=0" target="_blank">读谱练习 2</a>
                </li>
                <li>
                    <a href="https://app.flowkey.com/player/S8TXcvf6MzDuGDpiQ?title=%E5%B7%A6%E6%89%8B%20%E2%80%94%20%E7%BB%83%E4%B9%A0%20III&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=Dqo6ESmK6C9PeZPY9&slideId=2gSEQHjMGXuBgjFjy&part=0" target="_blank">读谱练习 3</a>
                </li>
            </ul>

            <hr>

            <h3>左手 B2 - E2</h3>
            <ul>
                <li><a href="https://app.flowkey.com/player/QeJDoAHjZp8pHXPsY?title=%E7%BB%83%E4%B9%A0%EF%BC%9A%E5%B7%A6%E6%89%8B%E5%BC%B9%E5%A5%8F%20E2%20%E5%88%B0%20B3&artist=flowkey&courseCategorySlug=reading-notes&courseId=Dqo6ESmK6C9PeZPY9&slideId=PcBQuTuxYv3RCygmy&part=0" target="_blank">读谱练习</a></li>
            </ul>

            <hr>

            <h3>左手 C3 - F2</h3>
            <ul>
                <li><a href="https://app.flowkey.com/player/wBZCrfndgkwxzADgg?title=%E7%BB%83%E4%B9%A0%EF%BC%9A%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%B7%A6%E6%89%8B%20I&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=CtSBd5KojM47px95o&slideId=uAhrpLGY6NkYL32HZ&part=0" target="_blank">读谱练习 1</a></li>
                <li><a href="https://app.flowkey.com/player/YyEvmrDEj7qNCjPdv?title=%E5%B7%A6%E6%89%8B%20%E2%80%94%20%E7%BB%83%E4%B9%A0%20II&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=CtSBd5KojM47px95o&slideId=ta5RnK6uFJ2s7ncdt&part=0" target="_blank">读谱练习 2</a></li>
                <li><a href="https://app.flowkey.com/player/qb2EaNAurPzbJZRAS?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%B7%A6%E6%89%8B%20%E2%80%94%20%E7%BB%83%E4%B9%A0%20III&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=CtSBd5KojM47px95o&slideId=Ttv5h2QxRjsBF3j4b&part=0" target="_blank">读谱练习 3</a></li>
            </ul>
            <hr>
            <h3>双手 F3 - G4</h3>
            <li><a href="https://app.flowkey.com/player/MJBRDbEwXXGn9jyam?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%8F%8C%E6%89%8B%20I&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=GfMTwST37L3XNcyoR&slideId=AGE4GdEQB4Ey5zg95&part=0" target="_blank">读谱练习 1</a></li>
            <li><a href="https://app.flowkey.com/player/XZrwtszr5rohwNGhN?title=%E8%AF%BB%E8%B0%B1%E7%BB%83%E4%B9%A0%20%E2%80%94%20%E5%8F%8C%E6%89%8B%20II&artist=Flowkey%20Teacher%20Team&courseCategorySlug=reading-notes&courseId=GfMTwST37L3XNcyoR&slideId=vNMmDixKi8nkidpAF&part=0" target="_blank">读谱练习 2</a></li>
            <li><a href="https://app.flowkey.com/player/cDqHYJnDiJc8Mq4WR?title=Morning%20Mood%20%28Peer%20Gynt%29&artist=Peer%20Gynt&courseCategorySlug=reading-notes&courseId=GfMTwST37L3XNcyoR&slideId=Nq2vSmydYtAxKk4c4&part=2" target="_blank">Morning Mood (Peer Gynt)</a></li>
            <li><a href="https://app.flowkey.com/player/uGufCBxMpfutQ7yNA?title=Sur%20Le%20Pont%20d%27Avignon&artist=Traditional&courseCategorySlug=reading-notes&courseId=DqkP8uTGFokNmJdQ8&slideId=jzAZTXxWSHxspfo4J&part=2" target="_blank">Sur Le Pont d'Avignon</a></li>
            <li><a href="https://app.flowkey.com/player/K4F22dCnmodkux6Zk?title=%E5%B0%8F%E6%98%9F%E6%98%9F&artist=Traditional&courseCategorySlug=reading-notes&courseId=DqkP8uTGFokNmJdQ8&slideId=mGuqSd2vFkz4xDqKh&part=2" target="_blank">小星星</a></li>
            
        </div>
    </div>
    <hr>
</div>
